/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: whitesmoke;
    color: #333;
}

/* Estilos del encabezado */
header {
    background: linear-gradient(90deg, #b7d7ff, #3f51b5);
    color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo y Título */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.logo h1 {
    font-size: 50px;
    color: #1f3a93;
    font-family: serif;
}

/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a.join-button {
    background-color: #074693;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contenedor principal */
.container, .container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

/* Espacio entre el header y el contenedor */
.header {
    margin-bottom: 20px; 
}

/* Sección izquierda */
.left {
    flex: 1;
    padding-right: 20px;
}

.left h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #182a3f;
    font-family: serif;
}

.left h4 {
    font-size: 30px;
    color: #074693;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background: #182a3f;
    color: whitesmoke;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 20px;
    transition: background 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
    background: #074693;
}

/* Imagen a la derecha */
.right img {
    width: 100%; 
    max-width: 700px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.incline-right {
    display: inline-block; 
    transform: rotate(10deg); 
}

/* Contenedor 2 */
.container-2 {
    display: flex;
    flex-direction: row-reverse; 
}

/* Información */
.info {
    flex: 1;
    margin-left: 20px; 
}

.info h3 {
    font-size: 30px;
    margin-bottom: 20px; 
    color: #182a3f;
}

.info h4 {
    font-size: 15px;
    color: #074693;
}

/* Carrusel */
.carrusel {
    flex: 2;
    position: relative;
    width: 100%; 
    overflow: hidden;
}

.carrusel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carrusel-item {
    min-width: 100%; 
    box-sizing: border-box;
}

.carrusel img {
    width: 50%; 
    height: auto;
    margin-left: 20px;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.9))
}

/* Estilos del pie de página */
footer {
    background: linear-gradient(90deg, #b7d7ff, #3f51b5);
    color: whitesmoke;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
}

.footer-nav a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: #074693;
}


/* Diseño responsivo */
@media (max-width: 768px) {
    .container, .container-2 {
        flex-direction: column;
        text-align: center;
    }

    .info, .carrusel {
        margin: 0;
        width: 100%; 
    }

    .carrusel img {
        width: 100%;
        margin: 0;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-nav a {
        margin: 10px 0;
    }
}
