body, html {
    height: 100%; /* Asegura que body y html ocupen el 100% de la ventana */
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: whitesmoke;
    color: #333;
}

/* Estilos del encabezado */
header {
    background: linear-gradient(90deg, #b7d7ff, #3f51b5);
    color: #182a3f;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo y Título */
.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 40px;
    margin-right: 10px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.logo h1 {
    font-size: 30px; 
    color: #1f3a93;
    font-family: serif;
}

/* Estilos del menú de usuario */

.user-menu {
    display: none; 
    position: absolute; 
    background-color: whitesmoke; 
    border: 1px solid #1f3a93; 
    border-radius: 8px; 
    z-index: 1000; 
    padding: 10px; 
    left: 0; 
}

.user-container {
    position: relative; 
    left: -80px; 
}

.user-container img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
    background-color: whitesmoke; 
    margin-left: -10px; 
}

/* Para los elementos de la lista dentro del menú de usuario */
.user-menu li {
    margin: 5px 0; 
    padding: 5px; 
    cursor: pointer;
}

.user-menu li:hover {
    background-color:#b7d7ff;
    border-radius: 50%; 
}

/* Estilo para los enlaces dentro de los elementos de la lista */
.user-menu li a {
    text-decoration: none; 
    color: inherit; 
}

/* Mostrar el menú al pasar el mouse */
.user-container:hover .user-menu {
    display: block; 
}

/* Estilos para eliminar los puntos de la lista */
ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

ol {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}


/* Estilos del menú desplegable de categorías */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: -10px; /
}

.dropbtn {
    background-color: transparent;
    color: whitesmoke; 
    padding: 10px 16px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer;
    border-radius: 8px; 
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: rgba(183, 215, 255, 0.7);
    min-width: 1000px; 
    border-radius: 10px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px; 
    column-count: 3; 
    column-gap: 10px; 
}

.dropdown:hover .dropdown-content {
    display: flex; 
}

.dropdown-content a {
    color: black; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
    border-radius: 4px; 
}

.dropdown-content a:hover {
    background-color:  #87b2e6; 
}


/* Barra de navegación */
.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 20px; 
    padding: 10px; 
    width: 300px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s; 
}

.search-bar:hover {
    border-color: #1f3a93; 
}

.search-bar i {
    margin-right: 10px; 
    color: #1f3a93; 
}
.search-bar input {
    border: none; 
    outline: none; 
    flex: 1; 
    padding: 8px; 
    font-size: 16px; 
    border-radius: 10px; 
    background: transparent; 
    color: #1f3a93; 
}

.search-bar input::placeholder {
    color: #1f3a93;
    opacity: 1; 
}

.navigate-button {
    padding: 10px 20px; 
    background: linear-gradient(90deg, #074693, #6ea3dc);
    color: white; 
    border: none;
    border-radius: 20px;
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s; 
}

.navigate-button:hover {
    background: linear-gradient(90deg, #b7d7ff, #3f51b5); 
    transform: scale(1.05); 
}

/* Estilos del pie de página */
footer {
    background: linear-gradient(90deg, #b7d7ff, #3f51b5);
    color: whitesmoke;
    padding: 20px 0; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
}

.footer-nav a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: #074693;
}
