{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escribir - LitBrigde</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/escribir.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}"></a>
            <img src="{% static 'img/logo.png' %}" alt="LitBrigde Logo" class="logo-image">
            <h1>LitBrigde</h1>
        </div>
        
        <div class="user-container">
            <div class="user-icon">
                <img src="https://via.placeholder.com/40" alt="Usuario" class="user-image">
                <i class="fas fa-caret-down"></i>
            </div>
            <div id="userMenu" class="user-menu">
                <ul>
                    <li><a href="{% url 'perfil' %}">Mi Perfil</a></li>
                    <hr>
                    <li><a href="#">Buzón</a></li>
                    <li><a href="#">Notificaciones</a></li>
                    <li><a href="{% url 'biblioteca' %}">Biblioteca</a></li>
                    <hr>
                    <li><a href="#">Idioma: Español</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="{% url 'config' %}">Configuración</a></li>
                    <li><a href="{% url 'index' %}">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </header>
    <br>
    <main>
        <nav>
            <div class="back-arrow">
                <a href="{% url 'home' %}"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
        </nav>
        <div class="create-new-story-container"> <!-- Contenedor del botón -->
            <a href="{% url 'crear_usuario' %}" class="create-new-story">
                <i class="fa-regular fa-square-plus"></i>
                Crear Una Nueva Historia
            </a>
        </div>
        <br>
        <h1> Mis Creaciones</h1>
        <br>
        <div class="story-card">
            <div class="story-image">
                <img src="ruta_de_la_imagen" alt="Imagen de la historia">
            </div>
            <div class="story-details">
                <p class="story-name"><strong>Nombre de la historia</strong></p>
                <p class="story-info">Estado: <span>Activo</span> | Cantidad de capítulos: <span>10</span></p>
                <br>
                <nav class="story-actions">
                    <div><a href="#" class="edit"><i class="fa-regular fa-pen-to-square"></i>Editar</a></div>
                    <div><a href="#" class="continue"><i class="fa-solid fa-pencil-alt"></i>Continuar...</a></div>
                    <div><a href="#" class="delete"> <i class="fa-solid fa-trash-can"></i>Eliminar</a></div>
                </nav>
            </div>
        </div>
    </main>
</body>
</html>
