{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escribir - LitBrigde</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/escribir_editar.css' %}">
    <script src="{% static 'js/header.js' %}" defer></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}">
              <img src="{% static 'img/logo.png' %}" alt="LitBrigde Logo" class="logo-image">
              <h1>LitBrigde</h1>
            </a>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Categoría</button>
            <i class="fas fa-caret-down"></i>
            <div class="dropdown-content">
                <a href="#">Acción</a>              
                <a href="#">Aventura</a>                  
                <a href="#">Chick-Lit</a>
                <a href="#">Ciencia Ficción</a>
                <a href="#">Clásico</a>
                <a href="#">De Todo</a>
                <a href="#">Espiritual</a>
                <a href="#">Fanfic</a>
                <a href="#">Fantasía</a>
                <a href="#">Ficción General</a>
                <a href="#">Historia Corta</a>
                <a href="#">Hombre Lobo</a>
                <a href="#">Humor</a>
                <a href="#">Misterio</a>
                <a href="#">No Ficción</a>
                <a href="#">Novela Histórica</a>
                <a href="#">Novela Juvenil</a>
                <a href="#">Paranormal</a>
                <a href="#">Poesía</a>
                <a href="#">Romance</a>
                <a href="#">Suspenso</a>
                <a href="#">Terror</a>
                <a href="#">Vampiro</a>
            </div>
        </div>
         
        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i> <input type="text" placeholder="Buscar..." />
        </div>

        <div class="user-container">
            <div class="user-icon">
                <img src="{% static 'img/Perfil.jpeg' %}" alt="Usuario" class="user-image">
                <i class="fas fa-caret-down"></i>
            </div>
            <div id="userMenu" class="user-menu">
                <ul>
                    <li><a href="{% url 'perfil' %}">Mi Perfil</a></li>
                    <hr>
                    <li><a href="{% url 'buzon' %}">Buzón</a></li>
                    <li><a href="{% url 'biblioteca' %}">Biblioteca</a></li>
                    <hr>
                    <li><a href="{% url 'config' %}">Idioma: Español</a></li>
                    <li><a href="{% url 'config' %}">Configuración</a></li>
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>
    </header>

{% block contenido %} 

<div class="card">
    <div class="card-header">Edita tu Historia</div>
    <div class="card-body">
        <h4 class="card-title">Datos del libro</h4>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {% for campo in formulario %}
        
            <div class="mb-3">
                <label for="" class="form-label">{{ campo.label }}</label>
        
                {% if campo.field.widget.input_type == 'file' and campo.value %}
                <img src="{{MEDIA_URL}}/imagenes/{{ campo.value}}" width="100" alt="" srcset="">
                {% endif %}
        
                <input
                    type="{{ campo.field.widget.input_type }}"
                    class="form-control"
                    name="{{ campo.name }}"
                    id=""
                    aria-describedby="helpId"
                    placeholder="{{ campo.label }}"
                    value="{{ campo.value | default:'' }}"
                />
                
            </div>
            <div class="col-12 help-text"> {{campo.errors}} </div>
            {% endfor %}
        
            <input
                name=""
                id=""
                class="btn btn-success"
                type="submit"
                value="Guardar"
            >
            <a
            name=""
            id=""
            class="btn btn-light"
            href="{% url 'listar_creaciones' %}"
            role="button"
            >Cancelar</a>
            
        </form>
    </div>
    <div class="card-footer text-muted"></div>
</div>

{% endblock %}