{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LitBrigde</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/header.js' %}" defer></script>
    <script src="{% static 'js/home.js' %}" defer></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="LitBrigde Logo" class="logo-image">
            <h1>LitBrigde</h1>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Categoría</button>
            <i class="fas fa-caret-down"></i>
            <div class="dropdown-content">
                <a href="#">Acción</a>              
                <a href="#">Aventura</a>                  
                <a href="#">Chick-Lit</a>
                <a href="#">Ciencia Ficción</a>
                <a href="#">Clásico</a>
                <a href="#">De Todo</a>
                <a href="#">Espiritual</a>
                <a href="#">Fanfic</a>
                <a href="#">Fantasía</a>
                <a href="#">Ficción General</a>
                <a href="#">Historia Corta</a>
                <a href="#">Hombre Lobo</a>
                <a href="#">Humor</a>
                <a href="#">Misterio</a>
                <a href="#">No Ficción</a>
                <a href="#">Novela Histórica</a>
                <a href="#">Novela Juvenil</a>
                <a href="#">Paranormal</a>
                <a href="#">Poesía</a>
                <a href="#">Romance</a>
                <a href="#">Suspenso</a>
                <a href="#">Terror</a>
                <a href="#">Vampiro</a>
            </div>
        </div>
         
        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i> <input type="text" placeholder="Buscar..." />
        </div>
        <div class="button-container">
            <button class="navigate-button" onclick="window.location.href='escribir';">Escribir</button>
        </div>

        <div class="user-container">
            <div class="user-icon">
                <img src="{% static 'img/Perfil.jpeg' %}" class="user-icon">
                <span class="username">{{ username }}</span> <!-- Display username here -->
                <i class="fas fa-caret-down"></i>
            </div>
            <div id="userMenu" class="user-menu">
                <ul>
                    <li><a href="{% url 'perfil' %}">Mi Perfil</a></li>
                    <hr>
                    <li><a href="#">Buzón</a></li>
                    <li><a href="#">Notificaciones</a></li>
                    <li><a href="{% url 'biblioteca' %}">Biblioteca</a></li>
                    <hr>
                    <li><a href="#">Idioma:</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="{% url 'config' %}">Configuración</a></li>
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                </ul>
            </div>
        </div>        
    </header>
    <main>
        <section class="carousel" id="recommendations">
            <h2>Recomendaciones</h2>
            <div class="stars">⭐⭐⭐⭐⭐</div>
            <button class="prev" onclick="moveCarousel(-1)">⯇</button>
            <div class="carousel-content" id="carousel-books">
                <!-- Libros cargados por la API aquí -->
            </div>
            <button class="next" onclick="moveCarousel(1)">⯈</button>
        </section>
        
        <section class="genre-section" id="fantasy">
            <h2>Fantasía <span>🐉</span></h2>
            <button class="prev" onclick="moveCarouselGenre(-1, 'genre-books')">⯇</button>
            <div class="carousel-content" id="genre-books">
                <!-- Libros cargados por la API aquí -->
            </div>
            <button class="next" onclick="moveCarouselGenre(1, 'genre-books')">⯈</button>
        </section>
        
        <section class="genre-section" id="adventure">
            <h2>Aventura <span>🧭</span></h2>
            <button class="prev" onclick="moveCarouselGenre(-1, 'adventure-books')">⯇</button>
            <div class="carousel-content" id="adventure-books">
                <!-- Libros cargados por la API aquí -->
            </div>
            <button class="next" onclick="moveCarouselGenre(1, 'adventure-books')">⯈</button>
        </section>
        
        <section class="genre-section" id="werewolf">
            <h2>Hombre Lobos <span>🐺</span></h2>
            <button class="prev" onclick="moveCarouselGenre(-1, 'werewolf-books')">⯇</button>
            <div class="carousel-content" id="werewolf-books">
                <!-- Libros cargados por la API aquí -->
            </div>
            <button class="next" onclick="moveCarouselGenre(1, 'werewolf-books')">⯈</button>
        </section>
        
        <section class="genre-section" id="vampires">
            <h2>Vampiros <span>🧛</span></h2>
            <button class="prev" onclick="moveCarouselGenre(-1, 'vampire-books')">⯇</button>
            <div class="carousel-content" id="vampire-books">
                <!-- Libros cargados por la API aquí -->
            </div>
            <button class="next" onclick="moveCarouselGenre(1, 'vampire-books')">⯈</button>
        </section>
        
        <section class="genre-section" id="classic">
            <h2>Clásico <span>📜</span></h2>
            <button class="prev" onclick="moveCarouselGenre(-1, 'classic-books')">⯇</button>
            <div class="carousel-content" id="classic-books">
                <!-- Libros cargados por la API aquí -->
            </div>
            <button class="next" onclick="moveCarouselGenre(1, 'classic-books')">⯈</button>
        </section>
        
        <section class="genre-section" id="fairy-tales">
            <h2>Cuentos <span>🧚</span></h2>
            <button class="prev" onclick="moveCarouselGenre(-1, 'fairy-tales-books')">⯇</button>
            <div class="carousel-content" id="fairy-tales-books">
                <!-- Libros cargados por la API aquí -->
            </div>
            <button class="next" onclick="moveCarouselGenre(1, 'fairy-tales-books')">⯈</button>
        </section>
        
        <section class="genre-section" id="romance">
            <h2>Romance <span>❤️</span></h2>
            <button class="prev" onclick="moveCarouselGenre(-1, 'romance-books')">⯇</button>
            <div class="carousel-content" id="romance-books">
                <!-- Libros cargados por la API aquí -->
            </div>
            <button class="next" onclick="moveCarouselGenre(1, 'romance-books')">⯈</button>
        </section>
        
        <section class="genre-section" id="thriller">
            <h2>Suspenso <span>🔪</span></h2>
            <button class="prev" onclick="moveCarouselGenre(-1, 'thriller-books')">⯇</button>
            <div class="carousel-content" id="thriller-books">
                <!-- Libros cargados por la API aquí -->
            </div>
            <button class="next" onclick="moveCarouselGenre(1, 'thriller-books')">⯈</button>
        </section>
        
        <section class="genre-section" id="science-fiction">
            <h2>Ciencia Ficción <span>🚀</span></h2>
            <button class="prev" onclick="moveCarouselGenre(-1, 'science-fiction-books')">⯇</button>
            <div class="carousel-content" id="science-fiction-books">
                <!-- Libros cargados por la API aquí -->
            </div>
            <button class="next" onclick="moveCarouselGenre(1, 'science-fiction-books')">⯈</button>
        </section>
        
    </main>

    <!-- Modal -->
   
   <!-- Modal de detalles del libro -->
<div id="bookModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span id="closeModalBtn" class="close">&times;</span>
        <img id="book-image" src="" alt="Imagen del libro">
        <h2 id="book-title"></h2>
        <p id="book-description"></p>
        <p id="book-price-info"></p>
        <button id="addToLibraryBtn">Agregar a la biblioteca</button>  <!-- Indicador si el libro es gratuito o no -->
    </div>
</div>


    
   <!-- Pie de página -->
   <footer>
    <div class="footer-content">
        <p>&copy; 2024 LitBridge. Todos los derechos reservados.</p>
        <nav class="footer-nav">
            <a href="#">Términos y Condiciones</a>
            <a href="#">Política de Privacidad</a>
            <a href="#">Contacto</a>
        </nav>
    </div>
</footer>
</body>
</html>