{% block content %}

<h1>Nueva Contraseña</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.new_password1.errors }}
    <label for="id_new_password1">Nueva contraseña:</label>
    {{ form.new_password1 }}

    {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password }}
    <input type="submit" value="Cambiar mi contraseña">
    </form>
    {{ form.new_password2 }}

    {% else %}
    <h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

    {% endif %}

{% endblock %}