{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}
{% load static %}
<div class="hero-section">
    <div class="container">
        <h1 class="display-5 fw-bold">Bienvenido a LitBridge</h1>
        <p class="lead">Empezar a gestionar tu biblioteca personal</p>
        <hr class="divider">
        
        <p class="description">
            "Bienvenido a LitBridge, la plataforma donde puedes gestionar fácilmente tu colección de libros. 
            Aquí puedes agregar nuevos títulos, editar detalles y eliminar libros según tus necesidades. 
            Nuestra plataforma está diseñada para ofrecer una experiencia fluida y organizada, permitiéndote crear y administrar contenido literario con total flexibilidad. 
            ¡Empieza a explorar y construye tu biblioteca personalizada!"
        </p>
        <button class="btn btn-outline-info" type="button" onclick="window.location.href='libros';">Empezar</button>
    </div>
</div>
{% endblock %}
